*/** @nunocpnp

projects/**
packages/**
shared/**

projects/api/**
projects/portfolio/**
projects/portfolio-mobile/**
projects/slots/**
projects/soon/**

packages/logger/**

shared/components/**
shared/configs/**
shared/styles/**